<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Photo Sharing</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="main.css">
</head>

<body>
	<header>
		<h1>
			<b>Photo Sharing</b>
			<img src="logo.jpg" alt="">
		</h1>

		<article class="profile">
			<img src="dummy.jpg" alt="avatar">
			<b>John Doe</b>
			<small>web dresser</small>
			<a href="#profile">edit</a>
		</article>

		<a href="#upload">upload</a>
	</header>

	<main>
		<ol class="gallery">
			{% for image in images %}
			<li>
				<a href="{{ image.url }}">
					<figure>
						<img src="{{ image.image }}" alt="">
						<figcaption>{{ image.caption }}</figcaption>
					</figure>
				</a>
				<community-likes></community-likes>
			</li>
			{% endfor %}
		</ol>
	</main>

	<footer>
		© 2021
		<a href="https://github.com/FND/web-trigs-photo-sharing">Web Trigs community</a>
	</footer>

	<form id="upload">
		<fieldset>
			<legend>image upload</legend>
			<label>
				image
				<input type="file" name="image">
			</label>
			<label>
				title
				<input name="title">
			</label>
			<button>add</button>
		</fieldset>
	</form>

	<form id="profile">
		<fieldset>
			<legend>profile</legend>
			<label>
				name
				<input name="name">
			</label>
			<label>
				role, title or other nonsense
				<input name="role">
			</label>
			<label>
				avatar image
				<input type="file" name="avatar">
			</label>
			<button>save</button>
		</fieldset>
	</form>
</body>

</html>
